<section class="my-services" id="services">
<h2 class="section__title section__title--services">What i do</h2>
<div class="services">
  <div class="service">
    <h3>Diseñar yu dgfodfog</h3>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt, vitae explicabo officiis cum quidem reprehenderit sapiente similique praesentium. Iste ex ipsa similique velit quisquam obcaecati cupiditate nam unde exercitationem ducimus?</p>
  </div>
  <div class="service">
    <h3>Diseñar yu dgfodfog</h3>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt, vitae explicabo officiis cum quidem reprehenderit sapiente similique praesentium. Iste ex ipsa similique velit quisquam obcaecati cupiditate nam unde exercitationem ducimus?</p>
  </div>
  <div class="service">
    <h3>Diseñar yu dgfodfog</h3>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt, vitae explicabo officiis cum quidem reprehenderit sapiente similique praesentium. Iste ex ipsa similique velit quisquam obcaecati cupiditate nam unde exercitationem ducimus?</p>
  </div>
  <div class="service">
    <h3>Diseñar yu dgfodfog</h3>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt, vitae explicabo officiis cum quidem reprehenderit sapiente similique praesentium. Iste ex ipsa similique velit quisquam obcaecati cupiditate nam unde exercitationem ducimus?</p>
  </div>
  <div class="service">
    <h3>Diseñar yu dgfodfog</h3>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt, vitae explicabo officiis cum quidem reprehenderit sapiente similique praesentium. Iste ex ipsa similique velit quisquam obcaecati cupiditate nam unde exercitationem ducimus?</p>
  </div>
</div>
<a href="#work" class="btn">My work</a>
</section>
